@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */
* {
  box-sizing: border-box;
}

.App {
  margin: 2% 8%;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: #fdfafb;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 1.6em;
}

p, button {
  font-size: 1.2em;
  line-height: 1.4;
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.nav-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  color: black;
  text-decoration: none;
  font-size: 2em;
  padding-right: 30px;
}
.logo:hover {
  color: #cdadb0;
}

.cart-icon {
  display: flex;
  justify-content: flex-end;
}

/* Search Bar */
.search-bar {

}

/* .search-icon {

} */

/* Menu, Cart */
.cart, .menu-items {
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #cdadb0;
  border-radius: 6px;
  margin-bottom: 2%;
  width: 80%;
}

.item-close {
  display: flex;
  justify-content: flex-end;
}

.item-container {
  display: flex;
  justify-content: center;
  padding: 0 1% 4%;
  margin-top: 1%;
}

.item-img {
  border: 1px solid #fdfafb;
  width: 110px;
  height: 110px;
  border-radius: 100px;
}

.item-content {
  width: 70%;
  padding: 1% 0 0 5%;
}

.item-header {
  padding-bottom: 5%;
}

.added-extra, .item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.added-extra {
  padding: 1% 0;
}

.extra {
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.item-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 8%;
}

.btn, .btn-2 {
  background-color: #836e71;
  color: #fdfafb;
  padding: 2% 6%;
  border-radius: 4px;
  border: none;
}
.btn:hover {
  background-color: #fdfafb;
  color: black;
}

.btn-2 {
  background-color: rgb(22, 22, 22);
  color: #66545a;
  padding: 2% 6%;
  border-radius: 4px;
  border: none;
}
.btn-2:hover {
  background-color: #cdadb0;
}

.toolbar {
  background-color: #836e71;
  color: #fdfafb;
}

.update-btn {
  display: flex;
  justify-content: center;
  margin:0 8%;
  left: 0;
  right: 0;
  bottom: 4%;
  position: fixed;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
  background-color: rgb(22, 22, 22);
  color: #fdfafb;
  padding: 2% 8%;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 4%;
  }
  h4 {
    font-size: 1.4em;
  }
  p, button {
    font-size: 1em;
    line-height: 1.4;
  }
  .nav {
    margin-bottom: 4%;
  }
  .cart, .menu-items {
    margin-bottom: 30%;
  }
  .item-img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
  .item {
    margin-bottom: 6%;
    width: 100%;
  }
  .item-container {
    padding: 0 6% 4%;
  }
  .item-content {
    width: 100%;
  }
  .total {
    padding: 6% 5%;
  }
}